.idea/hslu_pren_grp19_2014.iml
.idea/hslu_pren_grp19_2014.iml
.idea/hslu_pren_grp19_2014.iml
.idea/hslu_pren_grp19_2014.iml
.idea/hslu_pren_grp19_2014.iml
*.pyc
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml
.idea/hslu_pren_grp19_2014.iml