{% extends "layout.html" %}
{% block body %}
<div style="text-align: left;margin:20px;padding:10px;">
    <h1>Camera</h1>

    <form action="/save_config_zielerfassung" method=post class="saveConfig">
        <table>
            {% for item in configData.zfconfig: %}
            <tr>
                <td><label for="{{item.attr}}">{{item.attr}}</label></td>
                <td><input type="text" name="{{item.attr}}" value="{{item.value}}"/></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><input type="submit" value="Save"/><input type="button" value="Cancel" onclick="location.href='/config';"/></td>
            </tr>
        </table>
    </form>

    <h1>Balldepot</h1>

    <form action="/save_config_balldepot" method=post class="saveConfig">
        <table>
            {% for item in configData.bdconfig: %}
            <tr>
                <td><label for="{{item.attr}}">{{item.attr}}</label></td>
                <td><input type="text" name="{{item.attr}}" value="{{item.value}}"/></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><input type="submit" value="Save"/><input type="button" value="Cancel" onclick="location.href='/config';"/></td>
            </tr>
        </table>
    </form>

    <h1>Ballbefoerderung</h1>

    <form action="/save_bfconfig" method=post class="saveConfig">
        <table>
            {% for item in configData.bfconfig: %}
            <tr>
                <td><label for="{{item.attr}}">{{item.attr}}</label></td>
                <td><input type="text" name="{{item.attr}}" value="{{item.value}}"/></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><input type="submit" value="Save"/><input type="button" value="Cancel" onclick="location.href='/config';"/></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}